name: docs
on:
    # 每当 push 到 main 分支时触发部署
    push:
        branches: [master]
    # 手动触发部署
    workflow_dispatch:

jobs:
    docs:
        runs-on: ubuntu-latest

        steps:
            - uses: actions/checkout@v2
              with:
                  # “最近更新时间” 等 git 日志相关信息，需要拉取全部提交记录
                  fetch-depth: 0

            - name: Setup Node.js
              uses: actions/setup-node@v1
              with:
                  # 选择要使用的 node 版本
                  node-version: "16"

            # 安装依赖
            - name: Install dependencies
              run: pnpm install

            # 运行构建脚本
            - name: Build VuePress site
              run: pnpm docs:build

            # 发布到 Github Pages 默认分支
            - name: Deploy to GitHub Pages
              uses: crazy-max/ghaction-github-pages@v2
              with:
                  # 部署到 gh-pages 分支
                  target_branch: gh-pages
                  # 部署目录为 VuePress 的默认输出目录
                  build_dir: docs/.vuepress/dist
              env:
                  # @see https://docs.github.com/cn/actions/reference/authentication-in-a-workflow#about-the-github_token-secret
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
